*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
  }
  .main{
    width: 100%;
    height: 100vh;
    background: url(media/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .main .m-div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 450px;
    height: 500px;
    margin: auto;
    background: rgba(0,0,0,.4);
    border-radius: 10px;
    padding: 30px;
  }
.main .m-div form h1{
  color: #fff;
  margin: 15px 0;
}
.main .m-div form p{
  color: #fff;
  margin: 15px 0;
}
  .d-flex{
    display: flex;
    gap: 10px;
  }
  .t-center{
    text-align: center;
  }
 .inpt-pading{
  margin: 10px;
 }
 .main form .inputbox input{
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
 }
 
 .main form .privacy{
  margin-top: 15px;
}

.main form .privacy a{
  color: red;
}
.main form .privacy p{
color: #ffff00;
}
 .btn{
  background: #0000ff;
  color: aliceblue;
  padding: 10px 20px;
  width: 100%;
  font-size: 25px;
  border-radius: 10px;
  margin-top: 10px;
 }